name: postman_tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  postman_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: '16' # Cambiar de 14 a 16

      - name: Install dependencies
        run: npm install

      - name: Install Newman globally
        run: npm install -g newman

      - name: Run Newman tests
        run: newman run "Rick_and_Morty_API.postman_collection.json"
